-# .box.b0
-#   &nbsp;

.box.b1
  %h1 Solether
  %p Autonomous electrical energy giving entities
-# video to add - intel edison plus solether

.box.b2
  %p How it works?
  concept scheme --->
  -# sketch to add - how architecture of system works

  1 ether - full charge
  0.1 ether - 10min charge


.box.b3
  %h4
    sun + solar panel + battery + blockchain = autonomous energy


.box.b4
  %h4
    Find Solether

  %label
    Your location
    %input{placeholder:"W2 3UP"}

.box.b5
  %p Solether 1abc....
  %button Start Charging

.box.b6
  %p Deposit ether
  %img{src:"/images/qrcode.gif"}
  .address
    %p 1bcd...

.box.b7
  %p Your device is charging! :)

.box
  %p code
  %div{ width: "70%"}
    %script{height: 300, width:"100%", :src => "https://gist.github.com/makevoid/edcb65b679ddbd8c69fd.js"}
